.background {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5c997130a09a7e3c501b5bdb/1553565630171-4UEJ7DETES71NOXY7DA2/ke17ZwdGBToddI8pDm48kDHPSfPanjkWqhH6pl6g5ph7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5dNb1QJw9casjKdtTg1_-y4jz4ptJBmI9gQmbjSQnNGng/IMG_9659.JPG?format=2500w');
    height: 100%;
    width: 100%;
}